{% if block3 %}
	{{ block3 }}
{% endif %}
<footer>
	<div class="footer-static">
		<div class="container">
			<div class="container-inner">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class="col col1">
							<div class="footer-title"><h2>{{ text_logo }}</h2></div>
							<div class="footer-content">
								<div class="logo-footer">
									<div class="footer-logo">
										<a href="#"><img src="catalog/view/theme/tt_raavin2/image/logo-footer.png" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-2">
						<div class="col col2">
							<div class="footer-title"><h2>{{ text_social }}</h2></div>
							<div class="footer-content">
								{% if block4 %}
									{{ block4 }}
								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6">
						<div class="col col3">
							<div class="footer-title"><h2>{{ text_newsletter }}</h2></div>
							<div class="footer-content">
								{% if block5 %}
									{{ block5 }}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-12 col-sms-12">
					<div id="back-top">{{ text_backtop }}</div>
					<p class="copyright-text">{{ powered }}</p>
				</div>
				<div class="col-md-2 col-sm-12 col-sms-12">
					
				</div>
				<div class="col-md-5 col-sm-12 col-sms-12">
					{% if block6 %}
						{{ block6 }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</footer>
<script type="text/javascript">
$(document).ready(function(){
	// hide #back-top first
	$("#back-top").hide();
	// fade in #back-top
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 300) {
				$('#back-top').fadeIn();
			} else {
				$('#back-top').fadeOut();
			}
		});
		// scroll body to 0px on click
		$('#back-top').click(function () {
			$('body,html').animate({scrollTop: 0}, 800);
			return false;
		});
	});
	if (jQuery(window).width() < 992) {   
		jQuery('.footer-static .footer-title').click(function(){     
			jQuery(this).parent('.col').toggleClass('active').siblings().removeClass('active'); 
			jQuery(this).next('.col .footer-content').toggle(300);
			jQuery(this).parent('.col.active').siblings().children('.col .footer-content').slideUp(300); 
		}); 
		 
	}
});
</script>
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</div><!-- wrapper -->
</body></html>