{% extends 'common/column_left.twig' %}
{% block content %}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-discount" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-discount" class="form-horizontal">
      <div class="form-group required">
        <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
        <div class="col-sm-10">
          <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
          {% if error_name %}
            <div class="text-danger">{{ error_name }}</div>
          {% endif %}
        </div>
      </div>
      <div class="form-group required">
        <label class="col-sm-2 control-label" for="input-discount-percent">{{ entry_discount_percent }}</label>
        <div class="col-sm-10">
          <input type="text" name="discount_percent" value="{{ discount_percent }}" placeholder="{{ entry_discount_percent }}" id="input-discount-percent" class="form-control" />
          {% if error_discount_percent %}
            <div class="text-danger">{{ error_discount_percent }}</div>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="input-start-date">{{ entry_start_date }}</label>
        <div class="col-sm-10">
          <input type="text" name="start_date" value="{{ start_date }}" placeholder="{{ entry_start_date }}" id="input-start-date" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="input-end-date">{{ entry_end_date }}</label>
        <div class="col-sm-10">
          <input type="text" name="end_date" value="{{ end_date }}" placeholder="{{ entry_end_date }}" id="input-end-date" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="input-categories">{{ entry_categories }}</label>
        <div class="col-sm-10">
          <select name="category_ids[]" id="input-categories" class="form-control" multiple="multiple">
            {% for category in categories %}
              <option value="{{ category.category_id }}" {% if category.category_id in category_ids %} selected="selected"{% endif %}>{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="input-brands">{{ entry_brands }}</label>
        <div class="col-sm-10">
          <select name="brand_ids[]" id="input-brands" class="form-control" multiple="multiple">
            {% for brand in brands %}
              <option value="{{ brand.brand_id }}" {% if brand.brand_id in brand_ids %} selected="selected"{% endif %}>{{ brand.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" form="form-discount" class="btn btn-primary">{{ button_save }}</button>
        <a href="{{ cancel }}" class="btn btn-default">{{ button_cancel }}</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
