<div class="custom-category">
	{% if products %}
		
		<div class="toolbar toolbar-products">
			<div class="toolbar-amount toolbar4">
				<span>{{ results }}</span>
			</div>
			<div class="sorter toolbar1">
				{% if use_layered %}
					<label  for="input-sort">{{ text_sort }}</label>
					<select id="input-sort" class="form-control" onchange="ocfilter.filter(this.value);">
						{% for sorts in ajax_sorts %}
							{% if sorts.value == '%s-%s'|format(sort, order) %}
								<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
							{% else %}
								<option value="{{ sorts.href }}">{{ sorts.text }}</option>
							{% endif %}
						{% endfor %}
					</select>
				{% else %}
					<label for="input-sort">{{ text_sort }}</label>
					<select id="input-sort" class="form-control" onchange="location = this.value;">
						{% for sorts in sorts %}
							{% if sorts.value == '%s-%s'|format(sort, order) %}
								<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
							{% else %}
								<option value="{{ sorts.href }}">{{ sorts.text }}</option>
							{% endif %}
						{% endfor %}
					</select>
				{% endif %}
			</div>
			<div class="limiter toolbar2">
				{% if use_layered %}
					<label for="input-limit">{{ text_limit }}</label>
					<select id="input-limit" class="form-control" onchange="ocfilter.filter(this.value);">
						{% for limits in ajax_limits %}
							{% if limits.value == limit %}
								<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
							{% else %}
								<option value="{{ limits.href }}">{{ limits.text }}</option>
							{% endif %}
						{% endfor %}
					</select>
				{% else %}
					<label  for="input-limit">{{ text_limit }}</label>
					<select id="input-limit" class="form-control" onchange="location = this.value;">
						{% for limits in limits %}
							{% if limits.value == limit %}
								<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
							{% else %}
								<option value="{{ limits.href }}">{{ limits.text }}</option>
							{% endif %}
						{% endfor %}
					</select>
				{% endif %}
			</div>
		</div>
		<div class="custom-products">
            <div class="table-responsive">
                <table class="table table-panel">

                    <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th>{{ text_title }}</th>
                            <th class="text-center">{{ text_brand }}</th>
                            <th class="text-center">{{ text_pprice }}</th>
                            <th class="text-center">{{ text_availability }}</th>
                            <th class="text-center">{{ text_qnty }}</th>
                            <th class="text-center">{{ text_action }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td style="min-width: 100px; max-width: 100px; width: 100px;">
                                <img src="{{ product.thumb }}"  alt="{{ product.name }}" title="{{ product.name }}"
                                                                     class="img-responsive img-cate-{{ product.product_id }}" />
                            </td>
                            <td>
                                <h4 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h4>
                            </td>
                            <td class="text-center">
                                {% if product.manufacturer %}
                                {% endif %}
                                <a href="{{ product.manufacturers }}">{{ product.manufacturer }}</a>
                            </td>
                            <td class="text-center">
                                {% if product.price %}
                                    <div class="price">
                                        <div class="price-box">
                                        {% if not product.special %}
                                            <p class="regular-price"><span class="price">{{ product.price }}</span></p>
                                        {% else %}
                                            <p class="special-price"><span class="price">{{ product.special }}</span></p>
                                            <p class="old-price"><span class="price">{{ product.price }}</span></p>						  
                                        {% endif %}
                                        {% if product.tax %}
                                            <p class="price-tax"><span class="price">{{ text_tax }} {{ product.tax }}</span></p>
                                        {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            </td>
                            <td class="text-center">

                                <div class="quantity-cart">
                                    <div class="quantity-box">
                                        <div class="quantity-content">
                                            <input type="text" name="quantity" value="{{ product.minimum }}" size="2" class="form-control input-quantity" />
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td class="text-center">
                                <div class="cart">
                                    <button type="button" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><span>{{ button_cart }}</span></button>
                                </div>
                            </td>
                        </tr>

                        <script>
                            var minimum = {{ product.minimum }};
                            $(".input-quantity").change(function(){
                                if ($(this).val() < minimum) {
                                  alert("Minimum Quantity: "+minimum);
                                  $(".input-quantity").val(minimum);
                                }
                                //$(this).val()
                            });
                        </script>

                        {% endfor %} 
                    </tbody>

                </table>
            </div>

        </div>
		<div class="toolbar toolbar-products toolbar-bottom">
			{% if use_layered %}
				<div class="pages ajax_pagination">{{ ajax_pagination }}</div>
			{% else %}
				<div class="pages">{{ pagination }}</div>
			{% endif %}
			<div class="toolbar-amount"><span>{{ results }}</span></div>
		</div>
	{% endif %}
	{% if not categories and not products %}
		<p>{{ text_empty }}</p>
		<div class="buttons">
			<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
		</div>
	{% endif %}
</div>
<script type="text/javascript">
    // Product List
    $('#list-view').click(function() {
        $('#content .product-grid > .clearfix').remove();

        $('#content .row > .product-grid').attr('class', 'product-layout product-list col-xs-12');
        $('#grid-view').removeClass('active');
        $('#list-view').addClass('active');

        localStorage.setItem('display', 'list');
    });

    // Product Grid
    $('#grid-view').click(function() {
        var cols = $('#column-right, #column-left').length;

        if (cols == 2) {
            $('#content .product-list').attr('class', 'product-layout product-grid module-style1 col-lg-6 col-md-6 col-sm-6 col-xs-6');
        } else if (cols == 1) {
            $('#content .product-list').attr('class', 'product-layout product-grid module-style1 col-lg-4 col-md-4 col-sm-6 col-xs-6');
        } else {
            $('#content .product-list').attr('class', 'product-layout product-grid module-style1 col-lg-3 col-md-3 col-sm-6 col-xs-6');
        }

        $('#list-view').removeClass('active');
        $('#grid-view').addClass('active');

        localStorage.setItem('display', 'grid');
    });
</script>