{{ header }} {{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-action_pro" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-latest" class="form-horizontal">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ settings }}</h3>
                </div>
                <div class="panel-body">


                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="module_action_pro_status" id="input-status" class="form-control">
                                {% if module_action_pro_status %}
                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                <option value="1">{{ text_enabled }}</option>
                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">{{ text_auto_action }}</a></li>
                    <li><a href="#tab2" data-toggle="tab">{{ text_manual_action }}</a></li>
                    <li><a href="#tab3" data-toggle="tab">{{ text_archiv_action }}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div class="panel-body">
                            <div class="row">
                                <div class="but_fl">
                                     <div class="col-xs-12 col-md-6">
                                   
                                    <div class="row">
                                        <div class="col-xs-12">
                                           
                                            <div class='form-group'>
                                                <label class="control-label">{{ select_category }}</label>
                                                <select id="my-select" name="module_action_pro_config[category][]" multiple="multiple">
                                                    {% for v in array_category %}
                                                    {% if v.parent %}
                                                    <optgroup label="{{ v.name }}">
                                                        {% for x in v.parent %}
                                                        <option value="{{ x.category_id }}"  {% if x.category_id in module_action_pro_config.category %} selected {% endif %}>{{ x.name }}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                    {% else %}
                                                    <option value="{{ v.category_id }}"  {% if v.category_id in module_action_pro_config.category %} selected {% endif %}>{{ v.name }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                    
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">{{ select_manufacturer }}</label>
                                                <select id="manuf-select" name="module_action_pro_config[manufacturer][]" multiple="multiple">
                                                    {% for manuf in array_manufacturer %}
                                                    <option value="{{ manuf.manufacturer_id }}"  {% if manuf.manufacturer_id in module_action_pro_config.manufacturer %} selected {% endif %} >{{ manuf.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">{{ text_date_start }}</label>
                                                <div class="input-group date" id="datetimepicker_start">
                                                    <input type="text" name="module_action_pro_config[date_start]" value="{{ module_action_pro_config.date_start }}" class="form-control" placeholder="{{ text_date_start }}"/>
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">{{ text_date_end }}</label>
                                                <div class="input-group date" id="datetimepicker_end">
                                                    <input type="text" name="module_action_pro_config[date_end]" value="{{ module_action_pro_config.date_end }}" class="form-control" placeholder="{{ text_date_end }}"/>
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label"><span data-toggle="tooltip" data-original-title="{{ tooltip_procent }}">{{ text_discount_action }}</span></label>
                                                <input type="text" name="module_action_pro_config[procent]" value="{{ module_action_pro_config.procent }}" class="onlyInt form-control" placeholder="{{ entry_procent }}"/>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label"><span data-toggle="tooltip" data-original-title="{{ tooltip_procent_round }}">{{ text_procent_round }}</span></label>
                                                <select name="module_action_pro_config[procent_round]" class="form-control">
                                                    <option selected="selected" value="1" {% if module_action_pro_config.procent_round == 1 %} selected='selected' {% endif %} >{{ text_not_round }}</option>
                                                    <option value="2" {% if module_action_pro_config.procent_round == 2 %} selected='selected' {% endif %}>{{ text_ceil }}</option>
                                                    <option value="3" {% if module_action_pro_config.procent_round == 3 %} selected='selected' {% endif %}>{{ text_floor }}</option>

                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label"><span data-toggle="tooltip" data-original-title="{{ tooltip_customer_group }}">{{ text_customer_group }}</span></label>
                                                <select name="module_action_pro_config[customer_group_id]" class="form-control">
                                                    {% for customer_group in customer_groups %}
                                                    {% if customer_group.customer_group_id == module_action_pro_config.customer_group_id %}
                                                    <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
                                                    {% else %}
                                                    <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>

                                            </div>



                                        </div>
                                        
                                    </div>    

                                </div>
                                     <div class="col-xs-12 col-md-6">
                                         <input type="text"  placeholder="Введите название акции:"  id="name-auto-special" class="form-control"/>
                                         <div class="avd_div"><a href="javascript:void(0);" class="tesuen_z btn_action_start" data-original-title="Запустить">{{ entry_btn_action_start }}</a></div>
                                         <div class="avd_div"><a href="javascript:void(0);" class="but_sad_xr red_sad_xr btn_action_stop" data-original-title="Очистить поля">{{ entry_btn_action_stop }}</a></div>
                                         <div class="avd_div"><a href="javascript:void(0);" class="but_sad red_sad btn_action_del" data-original-title="Очистить поля">{{ entry_btn_action_del }}</a></div>



                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="panel-body manual_mode" style="{% if mod_auto and mod_auto is not empty  %} display: none; {% else %} display: block; {% endif %}">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="glyphicon glyphicon-cog"></i> {{ text_settings_manual }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-xs-12">
                                            <label class="control-label"><span data-toggle="tooltip" data-original-title="{{ tooltip_filter_name }}">{{ text_filter_name }}</span></label>
                                            <input class="form-control filter_name" id='typeahead' data-items="4" type="text" data-provide="typeahead">
                                        </div>
                                       
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-md-8 col-lg-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="glyphicon glyphicon-search"></i> {{ text_found_products }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id='found_view_products'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body manual_mode_mess" style="{% if mod_auto and mod_auto is not empty  %} display: block; {% else %} display: none; {% endif %}">
                            <h1 class="text-center bg-danger">{{ text_manual_mode_mess }}</h1>
                        </div>
                    </div>



                    <div class="tab-pane" id="tab3">
                        <div class="panel-body">
						<div class="avd_upd"><a href="javascript:void(0);" onclick="location.reload()" class="but_sad_g green_sad">{{ entry_update_btn }}</a></div>
                            <div class="col-sm-12 arh_cl">
                                <table class="table table-striped bkg">
                                    <thead>
                                        <tr>
                                            <th style="width: 25px">№</th>
                                            <th class='text-center'>{{ text_info }}</th>
                                            <th class='text-center'>{{ text_date_start }}</th>
                                            <th class='text-center'>{{ text_date_end }}</th>
                                            <th class='text-center'>{{ text_date_added }}</th>
                                            <th class='text-center'>{{ text_state }}</th>

                                        </tr>
                                    </thead>
                                    <tbody>


                                            {% if arhive_to_special %}
                                                   {% set i = 1 %}
                                                {% for value in arhive_to_special %}
                                            <tr>
                                                <td class='text-center'>{{ i }}</td>
                                                <td class='text-center'>{{ value.name }}</td>
                                                <td class='text-center'>{{ value.date_start }}</td>
                                                <td class='text-center'>{{ value.date_end }}</td>
                                                <td class='text-center'>{{ value.date_added }}</td>
                                                <td class='text-center'><button type="button" class="btn btn-default" onclick="change_delete_button('{{ value.product_special_id }}');$(this).parents('tr').remove()">{{ text_delete_special }}</button></td>
                                                {% set i = i + 1 %}
												{% endfor %}
                                            </tr>
                                            {% endif %}





                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12 text-center">{{ pagination }}</div>
                                </div>    
                                <div class="row">    
                                    <div class="col-sm-12 text-right">{{ results }}</div>
                                </div>
                    <script>
                        $('.pagination a').on('click', function(e) {
                            e.preventDefault();
                            var url = $(this).attr('href');
                            var pagination = $('.pagination');
                            var page = $(this).parent();
                            $.ajax({
                                url: url,
                                type: 'get',
                                success: function (json) {
                                    $('.arh_cl').html($(json).find('.arh_cl').html());
                                    pagination.find('li').removeClass('active');
                                    page.addClass('active');

                                    window.history.pushState("object or string", "Title", url);
                                }
                            });

                        });
                        </script>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content block_result_settings">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="title_message"></h4>
            </div>
            <div class="modal-body">
                <div id="result_message"></div>
            </div>
        </div>
    </div>
</div>
<?php echo $footer; ?>

<script type="text/javascript">
   
	$(document).ready(function () {
       
		$('#datetimepicker_start').datetimepicker({format: 'YYYY-MM-DD', language:'ru', defaultDate: moment("<?php print $config['date_start']; ?>","YYYY-MM-DD")});
		$('#datetimepicker_end').datetimepicker({format: 'YYYY-MM-DD', language: 'ru', defaultDate: moment("<?php print $config['date_end']; ?>","YYYY-MM-DD")});

        $(".onlyInt").keydown(function (event) {
            // Разрешаем: backspace, delete, tab и escape
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 ||
                // Разрешаем: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) ||
                // Разрешаем: home, end, влево, вправо
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                // Ничего не делаем
                return;
            } else {
                // Обеждаемся, что это цифра, и останавливаем событие keypress
                if ((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });

    });

    $(function () {
        $('#my-select').searchableOptionList({
            maxHeight: '250px',showSelectAll: true
        });
        $('#null-allowed-select').searchableOptionList({
            allowNullSelection: true
        });

    });
    $(function () {
        $('#manuf-select').searchableOptionList({
            maxHeight: '250px'
        });

    });
    $(function () {
        $('#manual-select').searchableOptionList({
            maxHeight: '250px'
        });
        $('#null-allowed-select').searchableOptionList({
            allowNullSelection: true
        });
    });

    jQuery.fn.extend({
        fire: function (evttype) {
            el = this.get(0);
            if (document.createEvent) {
                var evt = document.createEvent('HTMLEvents');
                evt.initEvent(evttype, false, false);
                el.dispatchEvent(evt);
            } else if (document.createEventObject) {
                el.fireEvent('on' + evttype);
            }
            return this;
        }
    });

    $('.btn_action_start').on("click", function(event) {
        var name_as = $('#name-auto-special').val().trim();
		var procent = $('input[name=\'module_action_pro_config[procent]\']').val().trim();
				
        if(name_as != '' && name_as !== "undefined" && procent != '' && procent !== "undefined") {
            var url = '{{ change_button_start }}';
            var name_auto_special = '&name_auto_special=' + name_as;

            var data = $('.but_fl input,.but_fl select').serialize() + name_auto_special;
            $.ajax({
                url: url,
                type: 'post',
                data: data,
                dataType: 'json',
                success: function (json) {
                    if (json['success']) {
                        $('#message-modal').modal('toggle');

                        $('#result_message').html('<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> ' + json['success'] + '</div>');
                        $('#title_message').html('{{ text_success_all }}');
                    }
                    if (json['error']) {
                        $('#message-modal').modal('toggle');

                        $('#result_message').html('<div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                        $('#title_message').html('{{ text_error_all }}');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }


            });
        } else {
            if( procent == '' || procent == "undefined") {
			var error_procent = '{{ text_error_procent_auto_special }}';
			} else {
			var error_procent = '';
			}
			if( name_as == '' || name_as == "undefined") {
			var error_name_as = '{{ text_error_name_auto_special }}';
			} else {
			var error_name_as = '';
			}
            $('#name-auto-special').css('border','1px solid #ae1919');
            $('#name-auto-special').focus(function(){
            $(this).css('border','1px solid #ecedef');
            });
            $('#message-modal').modal('toggle');

            $('#result_message').html('<div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i>'+ error_procent + error_name_as +'</div>');
            $('#title_message').html('{{ text_error_all }}');
        }
    });
    $('.btn_action_stop').on("click", function(event) {

        $('.sol-deselect-all').trigger( "click" );
        $('input[type=\'text\']').val('');
        $('select').prop('selectedIndex', 0);

    });
    $('.btn_action_del').on("click", function(event) {
        var url = '{{ change_button_delete }}';
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            success: function (json) {
                if (json['success']) {
                    $('#message-modal').modal('toggle');

                    $('#result_message').html('<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> ' + json['success'] + '</div>');
                    $('#title_message').html('{{ text_success_all }}');
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }

        });
    });
    $(".filter_name").keyup(function () {
        var name = $(".filter_name").val();
        $.ajax({
            url: '{{ search_products_name }}',
            type: 'post',
            data: {'name': name},
            success: function (json) {
                var html = "";
                if (json['success'].length != 0) {
                    for (var i = 0; i < json['success'].length; i++) {
                        html += '<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center brd" id="success_' + json['success'][i]['product_id'] + '">';
                        html += '<div class="text-right top_mrgn"><button id="change_settings-' + json['success'][i]['product_id'] + '" type="button"  class="change_settings cross"><span class="glyphicon glyphicon-cog"></span></button></div>';
                        html += '<div class="img_view_action text-center fnd_prod">';
                        html += '<img src="../image/' + json['success'][i]['image'] + '" />';
                        html += '</div>';
                        html += '<div class="caption">';
                        html += '<div class="price" id="price-' + json['success'][i]['product_id'] + '">' + json['success'][i]['price_format'] + '<input type="hidden"  name="price" value="' + json['success'][i]['price'] + '" class="form-control price_' + json['success'][i]['product_id'] + '" placeholder=""/></div>';
                        html += '<div class="name">' + json['success'][i]['name'] + '</div>';
                        html += '</div>';
                        html += '<div id="fnd_view_settings_' + json['success'][i]['product_id'] + '" class="col-sm-12 col-md-12 col-lg-12 fnd_view_settings">';
                        html += '<span class="success_filter"></span>';
                        html += '<label class="control-label">{{ text_date_start }}</label><div class="input-group date mfx bot_' + json['success'][i]['product_id'] + '"><input type="text"  name="date_start" value="" class="form-control date_start_' + json['success'][i]['product_id'] + '" placeholder=""/><span class="input-group-addon"><i class="fa fa-calendar"></i></span></div>';
                        html += '<label class="control-label">{{ text_date_end }}</label><div class="input-group date mfx bot_' + json['success'][i]['product_id'] + '"><input type="text" name="date_end" value="" class="form-control date_end_' + json['success'][i]['product_id'] + '" placeholder=""/><span class="input-group-addon"><i class="fa fa-calendar"></i></span></div>';
						html += '<label class="control-label"><span data-toggle="tooltip" data-original-title="{{ tooltip_procent }}">{{ text_discount_action }}</span></label><input type="text" name="procent" class="onlyInt form-control procent_' + json['success'][i]['product_id'] + '" placeholder="{{ entry_procent }}"/>';
                        html += '<label class="control-label"><span data-toggle="tooltip" data-original-title="{{ tooltip_procent_round }}">{{ text_procent_round }}</span></label>';
                        html += '<select name="procent_round" class="form-control procent_round_item_' + json['success'][i]['product_id'] + '">';
                        html += '<option selected="selected" value="1">{{ text_not_round }}</option>';
                        html += '<option value="2">{{ text_ceil }}</option>';
                        html += '<option value="3">{{ text_floor }}</option>';
                        html += '</select>';
                        html += '<label class="control-label"><span data-toggle="tooltip" data-original-title="{{ tooltip_customer_group }}">{{ text_customer_group }}</span></label>';
                        html += '<select name="customer_group_id" class="form-control customer_group_item_' + json['success'][i]['product_id'] + '">';
                        html += '{% for customer_group in customer_groups %}';
                        html += '<option value="{{ customer_group.customer_group_id }}" >{{ customer_group.name }}</option>';
                        html += '{% endfor %}';
                        html += '</select>';
                        html += '<div class="form-group"><button type="button" id="prod-' + json['success'][i]['product_id'] + '" class="btn btn-default item_ok"><i class="glyphicon glyphicon-thumbs-up"> ПУСК</i></button></div>';
                        html += '</div>';
                        html += '</div>';
                    }
                } else {
                    html = "{{ text_not_found }}";
                }
                $('#found_view_products').html(html);
                for (var i = 0; i < json['success'].length; i++) {
                    $('.bot_' + json['success'][i]['product_id']).datetimepicker({format: 'YYYY-MM-DD', language: 'ru'});
                    $('.bot_' + json['success'][i]['product_id']).datetimepicker({format: 'YYYY-MM-DD', language: 'ru'});
                }
                $('.change_settings').click(function () {
                    var data = this.id.split('-')[1];
                    $("#fnd_view_settings_" + data).toggle(500);
                });
                $('.item_ok').click(function () {
                    var product_id = this.id.split('-')[1];
                    var date_start = $(".date_start_" + product_id).val();
                    var date_end = $(".date_end_" + product_id).val();
                    var procent = $(".procent_" + product_id).val();
                    var round_price = $('.procent_round_item_' + product_id + ' option:selected').val();
                    var customer_group_id = $('.customer_group_item_' + product_id + ' option:selected').val();
                    var price = $(".price_" + product_id).val();

                    $.ajax({
                        url: '{{ add_settings_item }}',
                        type: 'post',
                        data: {'date_start': date_start, 'date_end': date_end, 'procent': procent, 'product_id': product_id, 'price': price, 'round': round_price, 'customer_group_id': customer_group_id},
                        success: function (json) {
                            $(".success_filter").show().html('<span class="label label-success">{{ text_success_add_product }}</span>');
                            setTimeout(function () {
                                $("#fnd_view_settings_" + product_id).hide();
                                $("#success_" + product_id).hide();
                                $(".success_filter").hide();
                            }, 1000);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                });
            }
        });
    });

    function change_delete_button (special_id) {
       // console.log(special_id);
        $.ajax({
            url: '{{ delete_arhive_special }}',
            type: 'post',
            data: {'special_id': special_id },
            success: function (json) {
                if (json['success']) {
                    $('#message-modal').modal('toggle');

                    $('#result_message').html('<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> ' + json['success'] + '</div>');
                    $('#title_message').html('{{ text_success_all }}');

                }
                if (json['error']) {
                    $('#message-modal').modal('toggle');

                    $('#result_message').html('<div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                    $('#title_message').html('{{ text_error_all }}');
                }
            }
        });
    }

    if(location.hash) {
        $('a[href=' + location.hash + ']').tab('show');
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
        location.hash = this.getAttribute("href");
    });
    $(window).on('popstate', function() {
        var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
        $('a[href=' + anchor + ']').tab('show');
    });

</script>

