<!DOCTYPE html>
  <html dir="{{ direction }}" lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <base href="{{ base }}" />
    <link type="text/css" href="view/stylesheet/invoice.css" rel="stylesheet" media="all" />
  </head>

  <body>
    <div class="container">      
      {% for order in orders %}
        <div>    
          <table class="title" cellpadding="0" cellspacing="0" style="border: 0">
            <tr>
              <td>
                {% if logo %}
                  <img src="{{ logo }}" alt="" height="80" />
                {% endif %}
              </td>
              
              {% if order.invoice_no %}
                <td style="text-align: right; vertical-align: bottom;">
                  <h1>
                    {{ order.invoice_no }}
                  </h1>
                </td>
              {% endif %}
            </tr>
          </table>
        
          <div class="line"></div>
                 
          <table cellpadding="0" cellspacing="0" style="border: 0; padding-bottom: 40px;">
            <tr>
              <td style="width: 50%;">
                <strong>{{ order.store_name }}</strong><br />
       
                <strong>{{ text_telephone }}</strong> {{ order.store_telephone }}<br />
                <strong>{{ text_email }}</strong> {{ order.store_email }}<br />
                <strong>{{ text_website }}</strong> {{ order.store_url }}
              </td>
              
              <td style="background: #EDEDED; padding: 15px 25px; width: 50%;">
                <strong>{{ text_date_added }}</strong> {{ order.date_added }}
                <br />
                  
                {% if order.invoice_no %}
                  <strong>{{ text_invoice_no }}</strong> {{ order.invoice_no }}<br />
                {% endif %}
                
                <strong>{{ text_order_id }}</strong> {{ order.order_id }}<br />
                <strong>{{ text_payment_method }}</strong> {{ order.payment_method }}<br />
                  
                {% if order.shipping_method %}
                  <strong>{{ text_shipping_method }}</strong> {{ order.shipping_method }}
                {% endif %}
              </td>
            </tr>
          </table>
                  
          <table cellpadding="0" cellspacing="0" style="border: 0">
            <thead>
              <tr>
                <td style="width: 50%; font-size: 13px; color: #000000; padding-bottom: 15px;">
                  <strong>{{ text_payment_address }}</strong>
                </td>
                
                <td style="width: 50%; font-size: 13px; color: #000000; padding-bottom: 15px;">
                  <strong>{{ text_shipping_address }}</strong>
                </td>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <td>
                  {{ order.payment_address }}
                </td>
                
                <td>
                  {{ order.shipping_address }}
                </td>
              </tr>
            </tbody>
          </table>
                  
          <div class="line"></div>
          
          <table cellpadding="0" cellspacing="0" style="border: 0">
            <thead>
              <tr>
                <td style="background: #005D9D; font-size: 8px; padding: 8px; color: #FFFFFF; text-align: left;">
                  <strong>{{ column_product }}</strong>
                </td>
                
                <td style="background: #005D9D; font-size: 8px; padding: 8px; color: #FFFFFF; text-align: left;">
                  <strong>{{ column_model }}</strong>
                </td>
                
                <td style="background: #005D9D; font-size: 8px; padding: 8px; color: #FFFFFF; text-align: center;">
                  <strong>{{ column_quantity }}</strong>
                </td>
                
                <td style="background: #005D9D; font-size: 8px; padding: 8px; color: #FFFFFF; text-align: right;">
                  <strong>{{ column_price }}</strong>
                </td>
                
                <td style="background: #005D9D; font-size: 8px; padding: 8px; color: #FFFFFF; text-align: right;">
                  <strong>{{ column_total }}</strong>
                </td>
              </tr>
            </thead>
            
            <tbody>              
              {% for product in order.product %}
                <tr>
                  <td style="font-size: 8px; color: #000000; padding: 8px;{% if loop.index0	is even %} background: #EDEDED;{% endif %}">
                    {{ product.name }}
                    
                    {% for option in product.option %}
                      <br />&nbsp;<small style="font-size: 8px;"> - {{ option.name }} {{ option.value }}</small>
                    {% endfor %}
                  </td>
                  
                  <td style="font-size: 8px; color: #000000; padding: 8px;{% if loop.index0	is even %} background: #EDEDED;{% endif %}">
                    {{ product.model }}
                  </td>
                  
                  <td style="font-size: 8px; color: #000000; padding: 8px; text-align: center;{% if loop.index0	is even %} background: #EDEDED;{% endif %}">
                    {{ product.quantity }}
                  </td>
                  
                  <td style="font-size: 8px; color: #000000; padding: 8px; text-align: right;{% if loop.index0	is even %} background: #EDEDED;{% endif %}>">
                    {{ product.price }}
                  </td>
                  
                  <td style="font-size: 8px; color: #000000; padding: 8px; text-align: right;{% if loop.index0	is even %} background: #EDEDED;{% endif %}">
                    {{ product.total }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          
          <div class="line"></div>
          
          <table class="totals" cellpadding="0" cellspacing="0" style="border: 0">
            <tr>
              <td style="width: 50%;"></td>
              
              <td style="background: #EDEDED; padding: 8px 15px; width: 70%;">
                <div>
                  <table>
                    {% for total in order.total %}
                      <tr>                                                               
                        <td style="text-align: right; vertical-align: bottom; font-size: 10px; padding: 2px 0;{% if total.code == 'total' %} padding-top: 20px;{% endif %}">
                          <strong>{{ total.title }}</strong>
                        </td>
                        
                        <td style="text-align: right; font-size: 10px; padding: 2px 0;{% if total.code == 'total' %} font-size: 12px; padding-top: 20px; font-weight: bold;{% endif %} padding-left: 50px;">{{ total.text }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </td>
            </tr> 
          </table>
        </div>
        
        <div style="page-break-after: always;"></div>
      {% endfor %}
    </div>
  </body>
</html>